%input {
  display: inline-block;
  width: 100%;
  padding: 0 5px 0 0;
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 15px;
    position: absolute;
    background-size: cover;
    top:50%;
    left: 20px;
    transform: translate(-50%, -50%);
  }

  input {
    padding: 15px 0 15px 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 13px;
  }
}

%btn-slider {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
}

%for-heading {
  font-weight: 900;
  text-transform: uppercase;
}

%plan-item {
  text-align: center;
  padding: 56px 27px 46px 27px;
  border-radius: 5px;

  &:hover {
    transform: scale(1.1);
    transition: .3s;
  }

  .prices__price {
    padding: 35px 0 33px 0;

    p {
      font-weight: bold;

      &:nth-child(2) {
        line-height: 1;
      }

      &:not(:last-child) {
        display: inline-block;
      }

      &:first-child {
        vertical-align: 17px;
      }

      &:last-child {
        font-size: 13.5px;
        text-transform: uppercase;
      }
    }
  }

  h4 {
    font-weight: 300;
    text-transform: uppercase;
  }

  .prices__serv {
    p {
      font-size: 13.5px;
      text-transform: uppercase;


      &:not(:last-child) {
        padding: 15px 0;
      }

      &:last-child {
        padding-top: 15px;
      }
    }
  }

  .prices__plans-btn {
    padding-top: 33px;

    a {
      display: inline-block;
      padding: 15px 20px;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 5px;
    }
  }
}

%clients {
  width: calc(50% - 38px);
  display: flex;
  flex-wrap: wrap;
  padding: 43px 42px 53px 30px;
  margin: 10px 19px;


  .happy-clients__photo {
    width: 30%;

    img:hover {
      transform: scale(1.2);
      transition: 1s;
    }
  }

  .happy-clients__quote {
    width: 70%;

    blockquote {
      font-weight: 400;
    }

    p {
      quotes: "\201C" "\201D" "\2018" "\2019";

      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }

    figcaption {
      padding-top: 26px;
      text-transform: uppercase;
      font-weight: 600;

      span {
        padding-left: 5px;
      }
    }
  }
}


