@mixin desktop-1170 () {
  @media (max-width: $breakpoint_1170) {
    @content;
  }
}

@mixin laptop-1024() {
  @media (max-width: $breakpoint_1024) {
    @content;
  }
}

@mixin tablet-767() {
  @media (max-width: $breakpoint_767) {
    @content;
  }
}

@mixin tablet-576() {
  @media (max-width: $breakpoint_576) {
    @content;
  }
}

@mixin tablet-500() {
  @media (max-width: $breakpoint_500) {
    @content;
  }
}

@mixin  tablet-450() {
  @media (max-width: $breakpoint_450) {
    @content
  }
}

@mixin mobile-360() {
  @media (max-width: $breakpoint_360) {
    @content;
  }
}

@mixin input($source) {
  @extend %input;
  &:before {
    background-image: url($source);
  }
}

@mixin btn-slider($btn-cl, $btn-cl-hv) {
  @extend  %btn-slider;
  border: 2px solid $btn-cl;

  &:active, &:hover {
    border: 3px solid $btn-cl-hv;
  }
}

@mixin h2-heading ($color) {
  @extend %for-heading;
  font-size: $font-size-ll;
  color: $color;
}

@mixin h3-heading () {
  font-weight: 900;
  text-transform: uppercase;
  font-size: $font-size-md;
  color: $h2-heading;
  font-family: $lato-font;
}

@mixin plan-item () {
  @extend %plan-item;
  font-family: $lato-font;
  border: 1px solid $border-plans-block;
  background: $txt-color-hv-nav;

  &:hover {
    background: $font-awesome;

    h4 {
      color: $txt-color-hv-nav ;
    }

    .prices__price {
      p {
        color: $txt-color-hv-nav !important;
      }
    }
  }

  .prices__price {
    border-bottom: 1px solid $inner-border-plans;

    p {
      color: $bg-color-hv-nav;
      font-size: $font-size-xxl;

      &:first-child {
        font-size: $font-size-ll ;
      }

      &:last-child {
        color: $text-plans-cl;
      }
    }
  }

  h4 {
    font-size: $font-size-ml;
    color: $text-plans-cl;
  }

  .prices__serv {
    p {
      color: $plans-text-cl-serv;

      &:not(:last-child) {
        border-bottom: 1px solid $inner-border-plans;
      }
    }
  }

  .prices__plans-btn {
    a {
      background: $bg-color-hv-nav;
      color: $txt-color-hv-nav;
    }
  }
}

@mixin steps () {
  text-align: center;
  width: 25%;

  &:first-child {
    padding: 37px 46px 0 30px;
  }

  &:nth-child(n+2):nth-child(-n+3) {
    padding: 37px 46px 0;
  }

  &:last-child {
    padding: 37px 30px 0 46px;
  }

  .how-it-works__icon {
    span {
      font-size: 72px;
      color: $font-awesome;
    }
  }

  .how-it-works__step-heading {
    padding-top: 100px;

    p {
      padding-top: 30px;
      font-size: $font-size-s;
      color: $text-plans-cl;
    }
  }
}

@mixin clients () {
  @extend %clients;
  background: $txt-color-hv-nav;

  .happy-clients__quote {

    blockquote {
      font-size: $font-size-s;
      color: $h2-heading;
    }

    p {

      &:before {
        font-size: $font-size-ll;
      }

      &:after {
        font-size: $font-size-ll;
      }
    }

    figcaption {
      font-family: $lato-font;
      font-size: $font-size-m;
      color: $font-awesome-hv;

      span {
        color: $happy-clients-quote;
      }
    }
  }
}
