$content-width: 1170px;
$content-font: 'Open Sans', sans-serif;
$lato-font: 'Lato', sans-serif;

$bg-color-hv-nav: #ffbb42;
$txt-color-nav: #868686;
$txt-color-hv-nav: #ffffff;
$bg-menu-burger: #e1dede;
$bg-feedback: #709dca;
$form-txt-cl: #6e6e6e;
$btn-slider-cl: #dedfe0;
$btn-slider-hov-cl: #52bde5;
$h2-heading: #394b50;
$font-awesome: #709dca;
$font-awesome-hv: #f6772c;
$bg-about-us: #ffc155;
$border-btn: #e7ad48;
$text-plans-cl: #89939c;
$inner-border-plans: #e2e9f0;
$plans-text-cl-serv: #b5bbc1;
$border-plans-block: #ccd5df;
$bg-plans: #e7edf3;
$happy-clients-quote: #99a9ae;

$font-size-mega-xl: 72px;
$font-size-xxl: 50px;
$font-size-xl: 40px;
$font-size-ll: 30px;
$font-size-ml: 25px;
$font-size-l: 22px;
$font-size-lm: 18px;
$font-size-md: 16px;
$font-size-m: 14px;
$font-size-s: 13px;


$breakpoint_1170: 1170px;
$breakpoint_1024: 1024px;
$breakpoint_767: 767px;
$breakpoint_576: 576px;
$breakpoint_500: 500px;
$breakpoint_450: 450px;
$breakpoint_360: 360px;
