.header {
  #header__menu-toggle {
    opacity: 0;
  }

  .row {
    justify-content: space-between;
  }

  &__logo {
    padding-top: 8px;
  }

  &__burger-menu {
    display: flex;
  }

  &__menu-list {
    display: flex;
  }

  li {
    list-style: none;
  }

  &__burger-menu a {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    color: $txt-color-nav;
    border-radius: 5px;
    font-family: $lato-font;
  }

  a:hover {
    background: $bg-color-hv-nav;
    color: $txt-color-hv-nav;
  }
}



